<div class="jumbotron">
  <h3><br /> <h1><b>The Media Computing Project</b></h1></h3>
  <p class="lead">
    <img src="images/logo3.png" alt="I'm Yeoman"><br>
    We reflect your <b>money</b>.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#!/contact">Go  to Visualization<!--<span class="glyphicon glyphicon-ok">--></span></a></p>
</div>
<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->



<div class="row marketing">
  <h4>Mentor: <br /><b>Krishna Subramanian, MSc</b> <br />krishna@cs.rwth-aachen.de</h4><br />
  

  <h4>Participants:<br />
  <h4><b>374125 Abhijeet Das</b> <br /> abhijeet.das@rwth-aachen.de<br /><br />
  <b>374154 Sahib Mukhija</b> <br />sahib.mukhija@rwth-aachen.de</h4><br /></h4>
  <p>
    
  </p>

  <h4></h4>
  <p></p>
</div>
