<div class="jumbotron">
  <h3>Welcome to <br /> <h1><b>Budget at Glance</b></h1></h3>
  <p class="lead">
    <img src="images/budget.png" alt="I'm Yeoman"><br>
    We reflect your <b>money</b>.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#!/contact">Go  to Visualization<!--<span class="glyphicon glyphicon-ok">--></span></a></p>
</div>
<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->



<div class="row marketing">
  <h4></h4>
  <p>
    
  </p>

  <h4></h4>
  <p>
    
  </p>

  <h4></h4>
  <p></p>
</div>
